
html, body {
    margin:0;
    padding:0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    background-color: #f3f3f3;
}

header,form {
    text-align: center;
}


h1 {
    color:#003366;
    font-size: 30px;
    font-size:3rem;
    -webkit-column-span:all;
    -moz-column-span:all;
    column-span:all;
}

input,select{
    border-radius: 5%;
    color:#003366;
    font-size: 20px;
    font-size:2rem;
    background-color:#fff;

}
#agregarlibro{
    color:#003366;
    font-size: 20px;
    font-size:2rem;

    text-align: center;



}
a {
    text-decoration: none;
    color:#036;
    padding: 0px 10px 0px 10px;
}

#galeria {
    margin: 1rem auto;
    width:100%;
    max-width:960px;
    padding:0 20px 20px;
    box-sizing: border-box;
    column-count: 3;


}



article {
    background:#fff;
    border-radius:5px;
    border:1px solid #ccc;
    margin:0 0 10px 0;
    text-align: center;
    max-width: 100%;
    filter: opacity(70%);

    /*Evitamos que se corte al cambiar de columna*/
    break-inside: avoid;
    page-break-inside: avoid;

}

article img {
    width:100%;
    height: 100%;
}

article:hover {
    transition: .5s ease;
    filter: opacity(100%);
}

#noexiste{
    text-align: center;

}
